body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://ih0.redbubble.net/image.87373734.8395/flat,800x800,075,t.jpg");
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 100%;
}

#header-text {
  font-family: Calibri, sans-serif;
  color: black;
  margin: 0; 
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}