body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://ih0.redbubble.net/image.87373734.8395/flat,800x800,075,t.jpg");
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 100%;
}

#header-text {
  font-family: BebasNeueBold, sans-serif;
  color: black;
  margin: 0; 
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

.ChooseToppings {
  text-align: center;
  font-family: Montserrat, serif;
  color: black;
  background-color: #EDBB99;
}

ul li {
    display:inline;
}

.Toppings {
  image-align: center;
  text-align: center;
}

.Totals {
  text-align: center;
  button-align: center;
  font-family: BebasNeueBold, sans-serif; 
  font-size: 20px;
}

button {
    background-color: white; 
    border: 2px solid #F8C471;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

button:hover {
    background-color: #F8C471;
    color: white;
}

